@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

.BLM_text {
	color: white;
}
.BLMcontainer {
	width: 240px;
	height: 240px;
    background: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
	margin-bottom: -16em;
	margin-left: 3em;
	position: absolute;
	z-index: 1;
}
  .box {
	padding: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
	}

    .BLMtitle {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
	  text-align: left;
      height: 50px;
		
	}
      .block {
        width: 0%;
        height: inherit;
        background: #ffb510;
        position: absolute;
        animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
        display: flex;
		  
      }

      h1 {
	
        font-family: 'Poppins';
        color: #fff;
        font-size: 32px;
        -webkit-animation: mainFadeIn 1s forwards;
        -o-animation: mainFadeIn 2s forwards;
        animation: mainFadeIn 2s forwards;
        animation-delay: 0.5s;
        opacity: 0;
        display: flex;
        align-items: baseline;
        position: relative;
		  
		}
        .block {
          width:0px;
          height: 0px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;

          background: #ffb510;
          -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
          animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
          animation-delay: 1s;
          margin-left: 5px;
          margin-bottom: -23px;
          position: absolute;
          bottom: 13px;
          right: 83px;

        }
      }
    }

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}


@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
   65% {
      width: 7px;
    height: 7px;
      bottom: 0px;
      width: 15px
   }
   80% {
      width: 10px;
    height: 10px;
      bottom: 20px
   }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px;

  }
}


@media screen and (max-width: 1160px) {
	.BLMcontainer {
		width: 220px;
		height: 210px;
	}
	.block {
          right: 63px;
        }
}

@media screen and (max-width: 990px) {
	.BLMcontainer {
		width: 150px;
		height: 150px;
	}
	.block {
          margin-bottom: -11px;
          right: 37px;
        }
	 h1 {
        font-size: 20px;
		}
}

@media screen and (max-width: 900px) {
	.BLMcontainer {
		width: 120px;
		height: 120px;
	}
	.block {
          margin-bottom: -25px;
          right: 7px;
    }
}

@media screen and (max-width: 640px) {
	.BLMcontainer {
		margin-left: 2em;
		width: 85px;
		height: 85px;
	}
	.block {
          margin-bottom: -20px;
          right: -9px;
     }
	 h1 {
        font-size: 16px;
	} 
}

@media screen and (max-width: 490px) {
	.BLMcontainer {
		margin-left: 0.95em;
		width: 75px;
		height: 75px;
	}
	.block {
		display: none;
     }
	 h1 {
        font-size: 14px;
	}

}

