.btn {
	margin: 10px 0px -10px 25px;
	width: 30%;
  height: 23px;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: left; /* Center if want it left*/
  padding: 0px 15px;
  font-family: Verdana;
  font-size: 15px;
  color: whitesmoke;
  cursor: pointer;
  background-color: #333;
}

.blind {
  position: absolute;
  width: 10px;
  height: 0px;
  background-color: black;
  top: 0;
}

.BLM {
	margin: 0px 0px -10px 25px;
  position: absolute;
  width: 10px;
  height: 0px;
  top: 0;
	display: none;
}

.BLM .t {
	font-family: Verdana;
	font-size: 15px;
	display: inline-block;
	color: white;
	background: black;
	padding: 3px;
}

.btn:hover .blind {
  height: 30px;
}

.btn:hover .bg{
  filter: invert(100%) brightness(0%);
}

.btn:hover + .BLM{
	display: flex;
	color: white;
	/* left: 50%;
    margin-right: -50%; */
}

/* .blind {
	overflow: visible; 
} */


.noselect {
  background-color: #333;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#b1 {
  	left: 0;
  	transition: 100ms;
	width: 100%;
}