/* Topnav - Contact Us Bar */

.topnav {
  background-color: #333;
  overflow: hidden;
	height: 23px;
}

.topnav a {
  font-family: sans-serif;
  font-size: 15px;
  float: right; 
  color: lightgrey;
  background-color: #333;
  text-align: center;
  padding: 4px 6px;

}

.topnav a:hover {
  color: white;
}

/* Main Bar  -  Home Research People Outreach Join the Lab */

.nav {
  	overflow: hidden;
	background-color: seagreen;
	text-align: center;
}

.nav a {
	font-family: Verdana;
	font-size: 15px;
	display: inline-block;
  	color: darkseagreen;
	background: seagreen;
	padding: 14px 18px;
	text-decoration: none;
}

.nav a:first-child {
	font-family: Verdana;
	font-size: 15px;
	float: left;
  	color: darkseagreen;
	background: seagreen;
	padding: 14px 20px;
	text-decoration: none;	
}

.lab-logo {
	margin: 0px 18px;
}

.nav a:last-child {
	float: right;
	background: seagreen;
	margin: 0px 25px;
}

.nav .depart-logo {
    cursor: pointer;
    width: 200px;
    background-color: seagreen;
    margin: -10px -30px;
    display: right;
}

.nav .sdepart-logo {
    cursor: pointer;
    width: 77px;
    background-color: seagreen;
	margin: -15px -10px;
	padding: 8px 0px 8px 0px;
	display: none;
}

.active {
  color: white;
}

.nav .icon {
  	display: none;
	margin: 7px 30px;
	padding: 0;
}

.nav a:hover {
  color: white;
}

.nav_active {
    color: white;
}

.nav .nav_active, .topnav .nav_active {
    color: white;
}

/* Logos - Lab and Department  */

.lab_logo {
    cursor: pointer;
    width: 200px;
    height: 50%;
    background-color: seagreen;
    margin: -10px -20px;
}

.depart_logo {
    cursor: pointer;
    width: 200px;
    height: 50%;
    background-color: seagreen;
    margin: -10px -30px;
    display: right;
}

.sdepart_logo {
    cursor: pointer;
    width: 77px;
    height: 30%;
    background-color: seagreen;
    margin: -6px -10px;
    float: right;
    display: none;
}


/* Screen Window Sizes related to the Navigation Bars */

@media screen and (max-width: 1160px) {
	.nav a:last-child {
		display: none;
    }
	.nav .sdepart-logo {
		display: inline-block;
    }
	.nav .depart-logo {
		display: none
	}
}

@media screen and (max-width: 970px) {
	nav ul li:not(:first-child) {
      display: none;
    }
}

@media screen and (max-width: 990px) {
  .nav a:not(:first-child) {
    display: none;
  }
  .nav a.icon {
    float: right;
    display: block;
  }
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .nav.responsive {float: none;}
  .nav.responsive {position: relative;}
  .nav.responsive {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/* :not(:first-child)  */

/* Copyright © 2020 Coleman Lab. All rights reserved.
Powered by WordPress. Theme: Explore by ThemeGrill */

/* https://www.w3schools.com/howto/howto_js_slideshow.asp */
/* https://www.youtube.com/watch?v=oLgtucwjVII */