/* Old Research */ 
.zoomin img {
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
      transition: all .2s ease;
  }
.zoomin img:hover{
    opacity: 0.75;
}

.column_research {
    float: left;
    width: 33.33%;
    padding: 15px;
}

.description, .name {
    font-family: var(--subfont);
    font-size: 14px;
    text-align: center;
} 

.name {
	color: var(--university-col);
	font-weight: bold;
	line-height: 55.4px;
} 

@media screen and (max-width: 990px) {
	.column_research {
		width: 50%;
	}
}

@media screen and (max-width: 640px) {
	.column_research {
		width: 50%;
	}
}



 /*     filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%); */

/* 	background: rgba(76, 175, 80, 0); */

/* 
.writing {
	color: grey;
	font-family: var(--subfont);
	margin: -450px 120px 0px 120px;
}*/

/* .column {
    display: inline block;
    padding: 0.5em;
    display: block;
    width: 33.333%;
    box-sizing: border-box; 
} */

/* .archive_text {
	color: #000;
	font-family: 'proxima-nova', sans-serif;
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 1.2;
	letter-spacing: 1px;
	margin: 4px 20px; 
} */

/* .store {
	font-family: 'proxima-nova', sans-serif;
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 1.2;
	letter-spacing: 1px;
}
*/
