/* Features Across the Board */

:root {
	--university-col: maroon;
	--mainfont: Palatino;
	--subfont: Verdana;
	--main-fontsize: 18px;
	--sub-fontsize: 15px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Page Themes */

body {
    font-family: var(--subfont);
	background-color: whitesmoke;
}

p {  /* Make sure this makes sense */
    margin: 2px 145px;
} 

a { /* links are generally maroon colored */
	color: var(--university-col);
} 

.page_picture{
    max-width: 100%;
    width: 100%;
    position: relative;
}


/* Text Organization */

.container {
  position: relative;
  text-align: center;
}

.centered, .title-centered, .top-right {
	font-family: var(--subfont);
	position: absolute;
	font-weight: bold;
	color: white;
}
.centered, .title-centered {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    text-align: center;
    font-size: 27px;
}

/* Home Page */

.title-centered { /* slide show text */ 
	font-size: 30px;
}
.top-right { /* slide show text */ 
  	top: 160px; 
  	right: 96px;
    transform: translate(-50%, -50%);
    font-size: 27px;
} 

.home_text, .join_text {
    font-family: var(--mainfont);
    line-height: 25.4px;
    font-size: var(--main-fontsize);
    letter-spacing: 0.04em;
    color: black;
    text-align: center;
}
.home_text {
	padding: 0px 20px;
}

p span.special{
    font-weight: bold;
    font-family: var(--subfont); 
    font-size: 23px;
    color: var(--university-col);
}

.sponsors img{
    height: 100%;
    width: 30%;
    object-fit: cover;
    padding: 0px 35px;
}

.center { /* centers the sponsors */
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Research Page */

.research_p {
	font-family: var(--mainfont);
	font-size: var(--main-fontsize);
	color: grey;
}

#chartdiv { /* force-directed diagram */
	width: 100%;
	height: 1150px;
	max-width:100%;
	margin: -300px 0px 0px 0px;
}

.rbutton, .b_active {
    font-family: "Saira+Extra+Condensed", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    border: none;
    padding: 9px 25px;
    background-color: var(--university-col);
    cursor: pointer;
    display: block;
    margin: 0px 1px;
	outline: none;
}

.rbutton:hover, .b_active {
    background-color: #333;
} 

.wrapper, .button_wrapper, .wrap_img {
    display: flex;
    justify-content:center; 
}

.button_wrapper a{
	z-index: 3;
}

.explore_text, .explore_text2 {
	font-family: var(--subfont);
    font-size: var(--sub-fontsize);
    text-align: center;
    color: var(--university-col);
}

.explore_text2 {
	margin: -250px 0px 0px 0px; 
}

/* Sub Research Pages */

.two_columns {
    float: left;
    width: 50%;
	padding: 30px;
} 

.research_text, .research_texth, .research_textr {
    font-family: var(--subfont);
    font-size: var(--sub-fontsize);
	color: grey;
	margin: 2px 20px; /*2px 15px 0px 40px;*/
}

.research_texth {
    margin: 2px -35px 0px 20px;
}

.research_textr {
    margin: 2px 0px 0px -25px;
}

.figure_text,.nfigure_text, .bfigure_text{
    font-family: var(--subfont);
    color: grey;
    font-size: 13px;
	margin: 2px 15px 0px 40px;
}
.nfigure_text{
	margin: 2px 15px 0px 100px;
}
.bfigure_text{
	margin: 0px 0px 0px 15px;
}

.map {
	padding: 0px 20px;
}

.cup {
	margin: 2px 15px 0px 100px;
}


/* People Page */

.row {
    display: flex;
    justify-content: space between;
    flex-wrap: wrap; 
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.people_column {
    float: left;
    width: 33.33%;
    padding: 65px;
} 

.code_img {
	width: 35px;
	padding: 5px 5px 0px 0px;
}
.code_img:hover {
	filter: invert(48%);
}
.collapsible {
  background-color: #333;
  color: white;
  cursor: pointer;
  padding: 5px;
  width: 82%;
  border: none;
  text-align: left;
  outline: none;
  	font-size: 14px;
	font-family: var(--subfont);
	margin: 3px 0px 3px 145px;
}

.active, .collapsible:hover {
  background-color: #777;
}

.content {
  padding: 0 28px;
  display: none;
  overflow: hidden;
  background-color: whitesmoke;
	font-family: var(--subfont);
	color: #777;
	font-size: 14px;
	
}

.pbutton {
    font-family: var(--subfont);
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    border: none;
    background-color: var(--university-col);
    cursor: pointer;
    padding: 9px 25px;
    display: block;
    margin: 0px 15px;
	outline: none;
}

.pbutton:hover {
    background-color: #333;
}  

.jobname, .email {
    font-family: var(--subfont);
    font-weight: bold;
    font-size: 14px;
}

.position{
    font-family: var(--subfont);
    color: grey;
    font-size: 14px;
}

.email {
    color: var(--university-col);
}

.summary {
    font-family: var(--subfont);
    font-size: 14px;
}

.title {
    font-family: monospace;
    font-size: 25px;
    color: var(--university-col);
}


/* Publications */

.post-container {
    margin: 10px 10px 0px 0px;  
    overflow: auto
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block;
    width: 120px;
    height: 100%;
    margin: 10px 0px 10px 50px; 
    padding: 0px 15px;
}

.post-content {
    margin-left: 10px
}

.publications{
    font-family: var(--subfont);
    font-size: var(--sub-fontsize);
    margin: 15px 160px; 
}
.timeline {
    margin: 4px 35px;
    font-size: 26px; 
}


/* Archives */

.date {
    margin: 4px 35px;
    font-size: var(--main-fontsize);
}


/* Join Us Page */

.join_text {
    padding: 0px 30px;
}


/* Window Adjustments */

@media screen and (max-width: 1160px) {
	.column {
		padding: 40px;
	}
	.collapsible {
		width: 75%;
	}
	.research_p {
		margin: 2px 45px;
	}
}

@media screen and (max-width: 990px) {
	.centered {
		font-size: 20px;
	}
	.title-centered {
		font-size: 24px;
	}
	.home_text {
		padding: 0px 0px;
	}
	.sponsors img{
		width: 40%;
		padding: 0px 0px;
	}
	p {
		margin: 2px 45px;
	}
	.column {
    	padding: 20px;
	}
	.publications{
    	margin: 15px 20px 0px 160px; /* top right bottom left */
	}
	.cup {
		margin: 2px 15px 0px 80px;
	}
	.nfigure_text{
		margin: 2px 15px 0px 80px;
	}
	.collapsible {
		margin: 0px 0px 0px 45px;
		width: 88%;
	}
}

@media screen and (max-width: 900px) {
	.people_column {
		width: 50%;
    	padding: 20px;
	}
	.cup {
		margin: 2px 15px 0px 60px;
	}
}

@media screen and (max-width: 640px) {
	.rbutton, .b_active {
		font-size: 15px;
		padding: 9px 15px;
	}
	.pbutton {
		font-size: 14px;
	}
	.column {
		width: 50%;
    	padding: 20px;
	}
	.people_column {
		width: 50%;
    	padding: 20px;
	}
	.map {
		padding: 0px 0px;
	}
	.two_columns {
		padding: 10px;
	} 
	.figure_text{
		margin: 0px 0px;
	}
	.cup {
		margin: 2px 15px 0px 30px;
	}
	.nfigure_text{
		margin: 2px 15px 0px 30px;
	}
	.collapsible {
		margin: 0px 0px 0px 45px;
		width: 80%;
	}
	.join_text, .home_text {
		padding: 0px 0px;
	}
	.research_text, .research_texth, .research_textr {
		font-size: 14px;
	}
	.figure_text, .nfigure_text, .bfigure_text{
    	font-size: 12px;
	}
	.research_textr {
		margin: 0px 0px 0px 0px;
	}

}

@media screen and (max-width: 490px) {
	.rbutton, .b_active {
		font-size: 13px;
		padding: 9px 5px;
	}
	.email {
		font-size: 12px;
	}
	.centered {
		font-size: 16px;
	}
	.top-right {
		transform: translate(-60%, -165%);
		font-size: 20px;
	} 
	.description, .name {
		font-size: 12px;
	}
	.timeline {
		margin: 4px 10px;
	}
	.post-container {
    	margin: 10px 10px 0px -30px;  
	}
	.two_columns {
		padding: 5px;
	} 
}

/* Bottom Rights */

.bottom_rights, .bottom_rights2 {
  background-color: #333;
  overflow: hidden;
}
.bottom_rights2 {
	margin: -10px 0px 0px 0px;
	padding: 0px 0px 21px 0px;
}

.bottom_rights a, .bottom_rights2 a {
  font-family: sans-serif;
  font-size: var(--sub-fontsize);
  float: left; 
  color: lightgrey;
  background-color: #333;
  padding: 9px 15px;
}
