/* Imported Fonts */

@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@300&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

/* Features Across the Board */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    list-style: none;
    text-decoration: none;
}
a {
	color: maroon;
}

/* Page Themes */
body {
    font-family: Verdana;
	background-color: whitesmoke;
}
header {
    display: flex;
    /*justify-content: space-between; */
    align-items: center;
    font-family: Verdana;
    font-weight: 500;
    font-size: 15px;
}

p {
    margin: 2px 145px;
}

.research_p {
	font-family: Palatino;
	font-size: 18px;
    margin: 2px 145px;
	color: grey;
}

.research_p {
	font-family: Palatino;
	font-size: 18px;
    margin: 2px 145px;
	color: grey;
}

p span.special{
    font-weight: bold;
    font-family: Verdana; /* Trebuchet MS*/
    font-size: 23px;
    color: maroon;
}

.page_picture{
    max-width: 100%;
    width: 100%;
    position: relative;
}

/* Home Page */

.home_images{
	/* margin: -23px 0; */
	position: relative;
}

.home_text {
    font-family: Palatino;
    line-height: 25.4px;
    font-size: 18px;
    letter-spacing: 0.04em;
    color: black;
    text-align: center;
    padding: 0px 20px;
}

.sponsors img{
    height: 100%;
    width: 30%;
    object-fit: cover;
    padding: 0px 35px;
}

.center { /* centers the sponsors */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Text Organization */

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered, .title-centered, .top-right {
	font-family: Verdana;
	position: absolute;
	font-weight: bold;
	text-align: center;
	background: rgba(76, 175, 80, 0);
	color: white;
}
.centered, .title-centered {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    text-align: center;
    font-size: 27px;
}

.title-centered {
    font-size: 30px;
}

.top-right {
  	top: 160px; 
  	right: 96px;
    transform: translate(-50%, -50%);
    font-size: 27px;
} 

/* Research Page */

#chartdiv {
	width: 100%;
	height: 1150px;
	max-width:100%;
	margin: -300px 0px 0px 0px;
			}

.zoomin img {
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
      transition: all .2s ease;
  }
.zoomin img:hover{
    opacity: 0.75;
}

.two_columns {
    float: left;
    width: 50%;
	padding: 30px;
} 

.research_text {
    font-family: Veranda;
    font-size: 18px;
    margin: 2px 20px; /*2px 15px 0px 40px;*/
	color: grey;
}

.research_texth {
    font-family: Veranda;
    font-size: 18px;
    margin: 2px -35px 0px 20px; /*2px 15px 0px 40px;*/
	color: grey;
}

.figure_text{
    font-family: Veranda;
    color: grey;
    font-size: 16px;
	margin: 2px 15px 0px 40px;
}
.nfigure_text{
    font-family: Veranda;
    color: grey;
    font-size: 16px;
	margin: 2px 15px 0px 100px;
}
.bfigure_text{
    font-family: Veranda;
    color: grey;
    font-size: 16px;
}

.map {
	padding: 0px 20px;
}

.cup {
	margin: 2px 15px 0px 100px;
}


.rbutton {
    font-family: "Saira+Extra+Condensed", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    border: none;
    padding: 9px 25px;
    background-color: maroon;
    cursor: pointer;
    display: block;
    margin: 0px 1px;
	outline: none;
}
.rbutton:hover {
    background-color: #333;
    border: none;
}  

.b_active {
	font-family: "Saira+Extra+Condensed", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    border: none;
    padding: 9px 25px;
    background-color: #333;
    cursor: pointer;
    display: block;
    margin: 0px 1px;
}

.explore_text {
	font-family: Verdana;
    font-size: 14px;
    text-align: center;
    color: maroon;
}

.explore_text2 {
	font-family: Verdana;
    font-size: 14px;
    text-align: center;
    color: maroon;
	margin: -250px 0px 0px 0px; 
}


/* People Page */

.code {
	width: 35px;
	padding: 5px 5px 0px 0px;
}
.code:hover {
	filter: invert(48%);
}
.collapsible {
  background-color: #333;
  color: white;
  cursor: pointer;
  padding: 5px;
  width: 82%;
  border: none;
  text-align: left;
  outline: none;
  	font-size: 14px;
	font-family: Verdana;
	margin: 3px 0px 3px 145px;
}

.active, .collapsible:hover {
  background-color: #777;
}

.content {
  padding: 0 28px;
  display: none;
  overflow: hidden;
  background-color: whitesmoke;
	font-family: Verdana;
	color: #777;
	font-size: 14px;
	
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
    display: flex;
    justify-content: space between;
    flex-wrap: wrap; /* added - this tells Flex to wrap onto a new line, if there is no space. */
}

.people_column {
    float: left;
    width: 33.33%;
    padding: 65px;
} 

.column {
    display: inline block;
    padding: 0.5em;
    display: block;
    width: 33.333%;
    box-sizing: border-box; /* added - this changes the way padding is applied, so it always stays at 33.33%, regardless of padding */
}

.column_research {
    float: left;
    width: 33.33%;
    padding: 15px;
}

.pbutton {
    font-family: "Saira+Extra+Condensed", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    border: none;
    background-color: maroon;
    cursor: pointer;
    padding: 9px 25px;
    display: block;
    margin: 0px 15px;
	outline: none;
}

.pbutton:hover {
    background-color: #333;
    border: none;
}  

.jobname, .email {
    font-family: Verdana;
    font-weight: bold;
    font-size: 14px;
}

.position{
    font-family: Verdana;
    color: grey;
    font-size: 14px;
}

.email {
    color: maroon;
}

.summary {
    font-family: Verdana;
    font-size: 14px;
}

.title {
    font-family: monospace;
    font-size: 25px;
    color: maroon;
}

.join_text {
    font-family: Palatino;
    line-height: 25.4px;
    font-size: 18px;
    letter-spacing: 0.04em;
    color: black;
    text-align: center;
    padding: 0px 30px;
}

.wrapper, .button_wrapper, .wrap_img {
    display: flex;
    justify-content:center; 
}

.button_wrapper a{
	z-index: 3;
}


/*.flight, .mate, .bag {
    height: 300px;
} */

/* Publications */

.post-container {
    margin: 10px 10px 0px 0px;  
    overflow: auto
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block;
    width: 120px;
    height: 100%;
    margin: 10px 0px 10px 50px; 
    padding: 0px 15px;
}

.post-content {
    margin-left: 10px
}

.publications{
    font-family: Verdana;
    font-size: 14px;
    margin: 15px 160px; /* top right bottom left */
}
.timeline {
    margin: 4px 35px;
    font-size: 26px; 
}

.description, .name {
    font-family: Verdana;
    font-size: 14px;
    text-align: center;
}

.name {
	color: maroon;
	font-weight: bold;
	line-height: 55.4px;
}

.writing {
	color: grey;
	font-family: Verdana;
	margin: -450px 120px 0px 120px;
}

/* Archives */

.date {
    margin: 4px 35px;
    font-size: 18px;
}


/* Window Adjustments */

@media screen and (max-width: 1160px) {
	.column {
		padding: 40px;
	}
	.collapsible {
		width: 75%;
	}
	.research_p {
		margin: 2px 45px;
	}
}

@media screen and (max-width: 990px) {
	.centered {
		font-size: 20px;
	}
	.title-centered {
		font-size: 24px;
	}
	.home_text {
		font-family: Palatino;
		line-height: 25.4px;
		font-size: 18px;
		letter-spacing: 0.04em;
		color: black;
		text-align: center;
		padding: 0px 0px;
	}
	.sponsors img{
		width: 40%;
		padding: 0px 0px;
	}
	p {
		margin: 2px 45px;
	}
	.column {
    	padding: 20px;
	}
	.column_research{
		width: 50%;
	}
	.publications{
    	margin: 15px 20px 0px 160px; /* top right bottom left */
	}
	.cup {
		margin: 2px 15px 0px 80px;
	}
	.nfigure_text{
		margin: 2px 15px 0px 80px;
	}
	.collapsible {
		margin: 0px 0px 0px 45px;
		width: 88%;
	}
}

@media screen and (max-width: 900px) {
	.people_column {
		width: 50%;
    	padding: 20px;
	}
	.cup {
		margin: 2px 15px 0px 60px;
	}
}

@media screen and (max-width: 640px) {
	.rbutton, .b_active {
		font-size: 15px;
		padding: 9px 15px;
	}
	.pbutton {
		font-size: 14px;
	}
	.column {
		width: 50%;
    	padding: 20px;
	}
	.people_column {
		width: 50%;
    	padding: 20px;
	}
	.column_research{
		width: 50%;
	}
	.map {
		padding: 0px 0px;
	}
	.two_columns {
		padding: 10px;
	} 
	.figure_text{
		margin: 0px 0px;
	}
	.cup {
		margin: 2px 15px 0px 40px;
	}
	.nfigure_text{
		margin: 2px 15px 0px 50px;
	}
	.collapsible {
		margin: 0px 0px 0px 45px;
		width: 80%;
	}
	.join_text {
		padding: 0px 0px;
	}
	.home_text {
    	padding: 0px 0px;
	}
	.research_text, .research_texth {
		font-size: 16px;
	}
	.figure_text, .nfigure_text, .bfigure_text{
    	font-size: 14px;
	}

}

@media screen and (max-width: 490px) {
	.rbutton, .b_active {
		font-size: 13px;
		padding: 9px 5px;
	}
	.email {
		font-size: 12px;
	}
	.centered {
		font-size: 16px;
	}
	.top-right {
		transform: translate(-60%, -165%);
		font-size: 20px;
	} 
	.description, .name {
		font-size: 12px;
	}
	.timeline {
		margin: 4px 10px;
	}
	.post-container {
    	margin: 10px 10px 0px -30px;  
	}
	.two_columns {
		padding: 5px;
	} 
}

/* Bottom Rights */

.bottom_rights {
  background-color: #333;
  overflow: hidden;
}
.bottom_rights2 {
  background-color: #333;
  overflow: hidden;
	margin: -10px 0px 0px 0px;
	padding: 0px 0px 21px 0px;
}

.bottom_rights2 a {
  font-family: sans-serif;
  font-size: 15px;
  float: left; 
  color: lightgrey;
  background-color: #333;
  padding: 10.5px 15px;
  z-index: 1;
  position: relative;
}
.bottom_rights a {
  font-family: sans-serif;
  font-size: 15px;
  float: left; 
  color: lightgrey;
  background-color: #333;
  padding: 9px 15px;
}

 /*     filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%); */

/*
.home_pics{
    margin: 0px 0px 0px 0px; /* (top, right, bottom, and left). 
}*/
