/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} 

*/

/* .bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #333;
  z-index: -1;
  transition: 850ms;
}*/

/* .select {
	color: white;
	background-color: #333;
} */

.btn2 {
  height: 23px;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: left; /* Center if want it left*/
  padding: 0px 15px;
  font-family: Verdana;
  font-size: 15px;
  color: whitesmoke;
  cursor: pointer;
  background-color: #333;
}

.blind2 {
  position: absolute;
  width: 10px;
  height: 0px;
  background-color: black;
  top: 0;
}

.BLM2 {
  position: absolute;
  width: 10px;
  height: 0px;
  background-color: black;
  top: 0;
	display: none;
}

.BLM2 .t2 {
	font-family: Verdana;
	font-size: 15px;
	display: inline-block;
	color: white;
	background: black;
	padding: 3px;
}

.btn2:hover .blind2 {
  height: 30px;
}

.btn2:hover {
  filter: invert(100%) brightness(0%);
}

.btn2:hover + .BLM2{
	display: flex;
	color: white;
	/* left: 50%;
    margin-right: -50%; */
}

/* .blind {
	overflow: visible; 
} */


.noselect2 {
  background-color: #333;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#b1 {
  	left: 0;
  	transition: 100ms;
	width: 100%;
}